@model ListaUsuarioViewModel

@{
    ViewData["Title"] = "Listado";
}

@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css" asp-append-version="true">
}

@if (Model.Mensaje is not null)
{
    <div class="alert alert-success" role="alert">
        @Model.Mensaje
    </div>
}
@if (Model is not null)
{
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Lista de Usuarios</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <a class="btn btn-success" asp-action="AltaUsuario"><i class="fas fa-user-plus"></i> Nuevo Usuario</a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table class="table" id="tbdata" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>MR</th>
                                <th>Grado</th>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>Destino</th>
                                <th>Depto|Div</th>
                                <th>Interno</th>
                                <th>Rol</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model.Usuarios)
                            {

                                <tr>
                                    <td>1</td>
                                    <td>@usuario.Matricula</td>
                                    <td>@usuario.Grado</td>
                                    <td>@usuario.Apellido</td>
                                    <td>@usuario.Nombre</td>
                                    <td>@usuario.Destino</td>
                                    <td>@usuario.DeptoDiv</td>
                                    <td>@usuario.PhoneNumber</td>
                                    <td><span class="badge badge-info">Admin</span></td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalEdit" id="btnObtenerUsuario" onclick="obtenerUsuario('@usuario.Id')">
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <button class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
<!-- ============================================================
=SCRIPTS PARA ESTA PAGINA
===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
    <script src="~/js/vistas/UsuarioEdit.js"></script>
<!-- SOLO ES DE EJEMPLO - IGNORAR -->
    <script src="~/js/vistas/datatables-demo.js"></script>
}